.products-section {
  flex-basis: 75%;
  border: 1px solid $color-dark-beige;
  border-radius: 10px;
  overflow: hidden;
  height: max-content;

  &__title {
    font-size: 24px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-dark-beige;
    padding: 1%;
    background-color: $color-brown;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
    row-gap: 20px;
    padding: 1%;
    background-color: rgb($color-brown, 0.5);
  }
}