.cart {
  &-page {
    display: flex;
    justify-content: space-between;
    column-gap: 2%;
  }

  &-empty-text {
    margin: 0 auto;
    font-size: 30px;
    line-height: 35px;
    color: $color-yellow;
  }

  &-products {
    flex-basis: 70%;
    border: 1px solid $color-dark-beige;
    border-radius: 10px;
    overflow: hidden;
    height: max-content;
    background-color: rgb($color-brown, 0.3);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-dark-beige;
      padding: 15px;
      background-color: $color-brown;

      &-title {
        margin: 0;
        font-size: 27px;
        line-height: 30px;
        color: $color-beige;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      column-gap: 2%;
      border-bottom: 1px solid $color-dark-beige;
      padding: 5px 15px;

      &-number {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-brown;
        border: 1px solid $color-dark-beige;
        color: $color-beige;
        font-size: 23px;
        border-radius: 50%;
      }

      &-inner {
        display: flex;
        column-gap: 2%;
        flex-grow: 1;
        transition: 0.3s;

        &:hover {
          .cart-products__item-title {
            color: $color-yellow;
          }
        }
      }

      &-img {
        width: 180px;
        height: 140px;
        object-fit: cover;
        border-radius: 10px;
        border: 1px solid $color-dark-beige;
      }

      &-description {
        flex-grow: 1;
        text-align: center;
      }

      &-title {
        margin: 0;
        padding: 10px;
        color: $color-orange;
        text-shadow: 0 0 2px $color-dark-beige;
        border-bottom: 1px solid $color-light;
      }

      &-text {
        padding: 7px;
        min-height: 62px;
        max-height: 62px;
        overflow: hidden;
      }

      &-info {
        display: flex;
        justify-content: space-around;
        color: $color-beige;
      }

      &-controls {
        width: 15%;
        text-align: center;
        font-size: 20px;
      }

      &-btn_plus.page-btn,
      &-btn_minus.page-btn {
        width: 45px;
        height: 45px;
        font-size: 35px;
        line-height: 35px;
        font-weight: 700;
        border-radius: 50%;
      }

      &-amount {
        font-size: 30px;
        line-height: 30px;
        color: $color-yellow;
      }
    }

    &__controls-inner {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
  }

  &-summary {
    flex-basis: 28%;
    border: 1px solid $color-dark-beige;
    border-radius: 10px;
    overflow: hidden;
    height: max-content;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $color-dark-beige;
      padding: 15px;
      background-color: $color-brown;

      &-title {
        margin: 0;
        font-size: 27px;
        line-height: 30px;
        color: $color-beige;
      }
    }

    &__inner {
      background-color: rgb($color-brown, 0.3);
      padding: 15px;
      text-align: center;
    }

    &__amount,
    &__sum {
      font-size: 27px;
      line-height: 30px;
      color: $color-beige;
      margin: 10px 0 20px;
    }

    &__amount-value,
    &__sum-value {
      color: $color-yellow;
    }

    &__promo-input {
      margin-bottom: 15px;
      padding: 9px 35px;
      text-align: center;
      color: $color-dark-beige;
      font-size: 20px;
      border: 1px solid $color-dark-beige;
      border-radius: 10px;
      background-color: $color-brown;

      &::placeholder {
        color: $color-light;
      }
    }

    &__promo-text {
      color: $color-orange;
      margin-bottom: 20px;
    }

    &__button.page-btn {
      margin: 15px 0 10px;
      background-color: $color-green;
      padding: 10px 40px;

      &:hover {
        color: $color-yellow;
        border: 1px solid $color-yellow;
      }
    }
  }


}