.filter-section {
  flex-basis: 23.5%;
  border: 1px solid $color-dark-beige;
  border-radius: 10px;
  background-color: rgb($color-brown, 0.5);
  padding: 1%;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px
}
