$color-white: #FFF;
$color-light: #CDCDCD;
$color-brown: #524a4a;
$color-dark-brown: #292929;
$color-dark-beige: #F1CDB3;
$color-beige: #fadcc7;
$color-green: #1f571f;
$color-orange: #EA907A;
$color-yellow: #fbc687;
$color-black: #000;

$font: 18px;
$line-height: 26px;