$color-white: #FFF;
$color-light: #CDCDCD;
$color-dark: rgb(100, 100, 100);
$color-brown: #524a4a;
$color-dark-brown: #292929;
$color-dark-beige: #F1CDB3;
$color-beige: #fadcc7;
$color-green: #043104;
$color-red: #521108;
$color-black: #000;

$font: 18px;
$line-height: 26px;